
/* Your CSS Code here. */

h2{
	font-style:italic;
}
.container{
	
}
#first-name-input{
	margin:5px;
}
#last-name-input{
	margin:5px;
}
#email-input{
	margin:5px;
}
#college-input{
	margin:5px;
	width:300px;
}
#graduation-input{
	margin:5px;
}
#roll-no-input{
	margin:5px;
}
.box{
	display:flex;
}

